# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Entornos
.venv/
venv/
ENV/
.env
.env.*

# VS Code
.vscode/

# OS / tooling
.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts
build/
dist/
