{% extends "base.html" %}
{% block title %}Proyecto VERIS{% endblock %}
{% block content %}
  <main class="container text-center mt-5">
    <h1 class="text-primary">Bienvenido a Proyecto VERIS</h1>
    <p class="text-muted">Sistema de gestión médica integral.</p>

    <section class="container mt-5">
      <div id="carouselVeris" class="carousel slide shadow-sm rounded" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner rounded">
          <div class="carousel-item active">
            <img src="{{ url_for('static', filename='img/carrusel1.jpg') }}" class="d-block w-100 rounded carousel-img" alt="Instalaciones Veris">
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/carrusel2.jpg') }}" class="d-block w-100 rounded carousel-img" alt="Atención Médica">
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/carrusel3.jpg') }}" class="d-block w-100 rounded carousel-img" alt="Equipo Profesional">
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselVeris" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselVeris" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
    </section>
  </main>
{% endblock %}
